.mainContacto {
    font-family: 'Gruppo', sans-serif;
    font-size: 1em;
    margin-bottom: 50px;
    background-color: $color-casi-blanco;
}

.tituloContacto {
    text-align: center;
    margin-top: 30px;
}

.formularioContacto {
    text-align: center;
    margin-top: 60px;
    font-size: 2em;
}

.cuadroTexto {
    width: 300px;
    height: 25px;
}

.informacion {
    margin-top: 50px;
    margin-bottom: 30PX;
}

.informacion div {
    padding: 7px;
}

.botonContacto {
    width: 150px;
    height: 30px;
    font-size: 0.6em;
}

#country {
    text-align: center;
    font-size: 0.7em;
}
