.mainFlota {
    font-family: 'Gruppo', sans-serif;
  }
  
  .titutloFlota {
    margin-top: 80px;
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
  }
  
  /* FLOTA UNO */
  
  .contenedorFlota {
    margin-top: 150px;
    margin-left: 250px;
    margin-bottom: 90px;
    background-color: rgba(28, 121, 93, 0.63);
    width: 1400px;
    height: 500px;
    color: $color-casi-blanco;
  }
  
  .contenedorFlotaUno {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 40px;
  
    div {
      img {
        margin-top: -20px;
        width: 580px;
        height: 350px;
      }
  
      h4 {
        font-size: 2em;
        padding: 30px;
      }
  
      p {
        font-size: 1.4em;
        padding: 20px;
      }
  
      h5 {
        font-size: 1.5em;
        padding: 20px;
      }
    }
  }
  
  .contenedorFlotaIconoUno {
    display: flex;
    flex-wrap: wrap;
  
    div {
      display: flex;
      justify-content: space-evenly;
      padding: 20px;
    }
  }
  
  .botonFlotaReserva {
    background-color: rgba(0, 0, 0, 0.459);
    border-color: rgba(0, 0, 0, 0.459);
    width: 130px;
    height: 50px;
    border-radius: 10px;
  
    a {
      @include anclas;
      font-size: 1.6em;
    }
  }
  
  /* FLOTA DOS */
  
  .contenedorFlotaDos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 40px;
  
    div {
      img {
        margin-top: -20px;
        width: 580px;
        height: 350px;
      }
  
      h4 {
        font-size: 2em;
        padding: 30px;
      }
  
      p {
        font-size: 1.4em;
        padding: 20px;
      }
  
      h5 {
        font-size: 1.5em;
        padding: 20px;
      }
    }
  }
  
  .contenedorFlotaIconoDos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 45px;
  
    div {
      display: flex;
      justify-content: space-evenly;
      padding: 20px;
      margin-left: 30px;
    }
  }
  
  /* FLOTA TRES */
  
  .contenedorFlotaTres {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 40px;
  
    div {
      img {
        margin-top: -20px;
        margin-left: 35px;
        width: 580px;
        height: 350px;
      }
  
      h4 {
        font-size: 2em;
        padding: 15px;
      }
  
      p {
        font-size: 1.4em;
        padding: 20px;
      }
  
      h5 {
        font-size: 1.5em;
        padding: 20px;
      }
    }
  }
  
  .contenedorFlotaIconoTres {
    display: flex;
    flex-wrap: wrap;
    margin-left: 45px;
  
    div {
      display: flex;
      justify-content: space-evenly;
      padding: 20px;
      margin-left: 50px;
    }
  }
  
  /* FLOTA CUATRO */
  
  .contenedorFlotaCuatro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-top: 40px;
  
    div {
      img {
        margin-top: -20px;
        width: 580px;
        height: 350px;
      }
  
      h4 {
        font-size: 2em;
        padding: 30px;
      }
  
      p {
        font-size: 1.4em;
        padding: 20px;
      }
  
      h5 {
        font-size: 1.5em;
        padding: 20px;
      }
    }
  }
  
  .contenedorFlotaIconoCuatro {
    display: flex;
    flex-wrap: wrap;
    margin-left: 45px;
  
    div {
      display: flex;
      justify-content: space-evenly;
      padding: 20px;
    }
  }
  